body {
    margin: 0;
}

.main-container {
    display: flex;
}

.nav-bar {
    width: 150px;
    height: 500px;
    background-color: rgb(80, 0, 255);
}

.add-task-container {
    margin: 0 20px 0 20px;
}

.add-task-main {
    display: flex;
    justify-content: space-between;
}

.add-task-main {
    border-radius: 10px;
    padding: 20px;
}
.title{
    color: rgb(80, 0, 255);;
    padding: 10px 0;
    font-weight: 700;
}
.bg-gray {
    background-color: rgba(0, 0, 100, 0.1)
}
.h2{
    color:rgb(80, 0, 255);
    font-size: 12px;
}