body{
  margin: 0;
}
.board-page {
  display: flex;
  flex-direction: row;
}

.nav-container {
  width: auto;
}

.board-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 36px;
}

.board-container-header {
  display: grid;
  grid-auto-columns: 220px;
  grid-auto-flow: column;
  grid-gap: 24px;
  overflow: auto;
  text-align: center;
  margin-left: 80px;
}

.board-container-header h2 {
  font-size: 16px;
  margin: 0 0 12px 0;
}

.board-container-body {
  display: grid;
  grid-auto-columns: 220px;
  grid-auto-flow: column;
  grid-gap: 24px;
  height: 75vh;
  overflow: auto;
  margin-left: 80px;
}

.board-container-body__phase {
  background: #EBECF0;
  border-radius: 3px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 12px;
  padding: 10px;
}

.board-container-body__phase__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  background: #FFF;
  color: gray;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  border-radius: 3px;
  padding: 10px;
  font-size: 12px;
}

.board-container-body__phase__card__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board-container-body__phase__card__title {
  color: #000;
  font-weight: 600;
}

.board-container-body__phase__card-delete:hover {
  cursor: pointer;
}

.board-container-body__phase__card__description {
  padding-top: 8px;
  padding-bottom: 4px;
  height: 36px;
}

.board-container-body__phase__card__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-container-body__phase__card__category {
  width: fit-content;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.board-container-body__phase__card__footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.board-container-body__phase__card__asingto {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board-container-body__phase__card__asingto img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 12px;
  border-radius: 50%;
}

.urgency-high {
  background-color: #FFF2F2;
}

.urgency-medium {
  background-color: #ffffee;
}

.urgency-low {
  background-color: #d2f8d2;
}

.category-management {
  background-color: #a10303;
  color: #FFF;
}

.category-it {
  background-color: #fcee29;
  color: #000;
}

.category-controling {
  background-color: #33af44;
  color: #FFF;
}

.category-finance {
  background-color: #f11212;
  color: #FFF;
}

.category-web {
  background-color: #f11212;
  color: #FFF;
}
<<<<<<< HEAD
@media(max-width:1000px){
  .board-container-body{
    margin-left: 0px;
  }
=======


@media only screen and (max-width: 1000px) {

  .board-container {
    padding-left: 12px;
  }

  .board-container-body {
    margin-left: 0px;
  }

  .board-container-header {
    margin-left: 0px;
  }

>>>>>>> 3f54c4db8987e944aa343c7b9d68738b24bd48e1
}