.main-content-border{
    display: flex;
    width: 100vw;
    margin-left: 100px;
}
.imprint-main {
    margin: 0 40px;
}
@media(max-width:1000px){
    .main-content-border{
        margin-left: 0px;
    }
    .imprint-main {
        margin: 40px 20px;
    }
}