<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

<div class="navbar-box">
  <div class="navbar-box-top">
    <div class="navbar-box-top__logo">
      <img src="./img/logo.png">
    </div>
    <div id="navbar-menu" class="navbar-box-top__menu">
      <div id="opt-board" class="navbar-box-top__menu__option">
        <a href="./board.html">Board</a>
      </div>
      <div id="opt-backlog" class="navbar-box-top__menu__option">
        <a href="./backlog.html">Backlog</a>
      </div>
      <div id="opt-addtask" class="navbar-box-top__menu__option">
        <a href="./addTask.html">Add Task</a>
      </div>
      <div id="opt-help" class="navbar-box-top__menu__option">
        <a href="./help.html">Help</a>
      </div>
      <div id="opt-imprint" class="navbar-box-top__menu__option">
        <a href="./imprint.html">Imprint</a>
      </div>
      <div id="opt-policy" class="navbar-box-top__menu__option">
        <a href="./policy.html">Policy</a>
      </div>
      <div id="opt-policy" class="navbar-box-top__menu__option">
        <a href="./index.html">Log Out</a>
      </div>
    </div>
  </div>
  <div class="navbar-box-bottom">
    <div class="navbar-box-bottom__user">
      <img id="profile-image" src="">
    </div>
    <a href="javascript:void(0);" class="hamburger-menu" onclick="toggleNavbar()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>